<!-- ko with: Criteria -->
<span data-bind="text: ko.i18n('components.conditionTreatmentLine.conditionTreatmentLineText_1', 'a treatment line of')"></span>
<conceptset-reference params="{conceptSetId: CodesetId, conceptSets: $component.expression.ConceptSets, defaultName: ko.i18n('components.conditionTreatmentLine.anyDrug', 'Any Drug')}"></conceptset-reference>
<ul>
<!-- ko if: ko.utils.unwrapObservable(First) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionTreatmentLine.conditionTreatmentLineText_2', 'for the first time in the person\'s history')"></span>
	</li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(TreatmentLineStartDate) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionTreatmentLine.conditionTreatmentLineText_3', 'occurrence start is:')"></span>
		<date-range-viewer params="Range: TreatmentLineStartDate"></date-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(TreatmentLineEndDate) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionTreatmentLine.conditionTreatmentLineText_4', 'occurrence end is:')"></span>
		<date-range-viewer params="Range: TreatmentLineEndDate"></date-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(TreatmentLineDrugEraStartDate) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionTreatmentLine.conditionTreatmentLineText_23', 'drug era occurrence start is:')"></span>
		<date-range-viewer params="Range: TreatmentLineDrugEraStartDate"></date-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(TreatmentLineDrugEraEndDate) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionTreatmentLine.conditionTreatmentLineText_24', 'drug era occurrence end is:')"></span>
		<date-range-viewer params="Range: TreatmentLineDrugEraEndDate"></date-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(TreatmentLineNumber) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionTreatmentLine.conditionTreatmentLineText_25', 'with treatment line number:')"></span>
		<numeric-range-viewer params="Range: TreatmentLineNumber"></numeric-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(TotalCycleNumber) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionTreatmentLine.conditionTreatmentLineText_26', 'with total number of cycles:')"></span>
		<numeric-range-viewer params="Range: TotalCycleNumber"></numeric-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(DrugExposureCount) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionTreatmentLine.conditionTreatmentLineText_27', 'with total number of drug exposures:')"></span>
		<numeric-range-viewer params="Range: DrugExposureCount"></numeric-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(TreatmentLineType) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionTreatmentLine.treatmentLineType', 'Treatment Line Type')"></span>
		<cycle-toggle-input-viewer params="{value: TreatmentLineTypeExclude, options: $component.options.DomainTypeExcludeOptions}"></cycle-toggle-input-viewer> <concept-list-viewer params="ConceptList: ko.utils.unwrapObservable(TreatmentLineType)"></concept-list-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(Age) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionTreatmentLine.conditionTreatmentLineText_14', 'with age')"></span>
		<numeric-range-viewer params="Range: Age"></numeric-range-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(Gender) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionTreatmentLine.conditionTreatmentLineText_20', 'gender is any of:')"></span>
		 <concept-list-viewer params="ConceptList: ko.utils.unwrapObservable(Gender)"></concept-list-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(ProviderSpecialty) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionTreatmentLine.conditionTreatmentLineText_21', 'provider specialty is any of:')"></span>
	 <concept-list-viewer params="ConceptList: ko.utils.unwrapObservable(ProviderSpecialty)"></concept-list-viewer></li>
<!-- /ko -->
<!-- ko if: ko.utils.unwrapObservable(VisitType) != null -->
	<li>
		<span data-bind="text: ko.i18n('components.conditionTreatmentLine.conditionTreatmentLineText_22', 'visit occurrence is any of:')"></span>
	 <concept-list-viewer params="ConceptList: ko.utils.unwrapObservable(VisitType)"></concept-list-viewer></li>
<!-- /ko -->
</ul>
<!-- ko if: ko.utils.unwrapObservable(CorrelatedCriteria) != null -->
		<criteria-group-viewer params="{expression: $component.expression, group: CorrelatedCriteria}"></criteria-group-viewer>	
<!-- /ko -->
<!-- /ko -->
