<div class="criteriaSection" data-bind="with: Criteria">
	<div style="position: relative">
		<table class="criteriaTable">
			<colgroup>
				<col style="width:100%"/>
				<col />
			</colgroup>
			<tr>
				<td> 
					a treatment line of
					<conceptset-selector params="conceptSetId: CodesetId, conceptSets: $component.expression.ConceptSets, defaultText: 'Any Drug'"></conceptset-selector>
				</td>
				<td>
					<div class="btn-group pull-right">
						<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-plus"></i> Add attribute...<span class="caret"></span></button>
						<ul class="dropdown-menu" data-bind="foreach:$component.addActions">
							<li><a data-bind="html:$component.formatOption($data), click:$component.actionHandler" href="#"></a></li>
						</ul>
					</div>
				</td>
			</tr>
		</table>
		<table class="criteriaTable">
			<colgroup>
				<col style="width:20px"/>
				<col />
			</colgroup>		
			<tr data-bind="if: First() != null, visible: First() != null">
				<td><i data-bind="click: function() { $component.removeCriterion('First') }" class="fa fa-times" /></td>
				<td>
					<div>for the first time in the person's history</div>
				</td>
			</tr>
			<tr data-bind="if: TreatmentLineStartDate() != null, visible: TreatmentLineStartDate() != null">
				<td><i data-bind="click: function() { $component.removeCriterion('TreatmentLineStartDate') }" class="fa fa-times" /></td>
				<td>
					Treatment line start is:
					<date-range params="Range: TreatmentLineStartDate"></date-range>
				</td>
			</tr>
			<tr data-bind="if: TreatmentLineEndDate() != null, visible: TreatmentLineEndDate() != null">
				<td><i data-bind="click: function() { $component.removeCriterion('TreatmentLineEndDate') }" class="fa fa-times" /></td>
				<td>
					Treatment line end is:
					<date-range params="Range: TreatmentLineEndDate"></date-range>
				</td>
			</tr>
			<tr data-bind="if: TreatmentLineDrugEraStartDate() != null, visible: TreatmentLineDrugEraStartDate() != null">
				<td><i data-bind="click: function() { $component.removeCriterion('TreatmentLineDrugEraStartDate') }" class="fa fa-times" /></td>
				<td>
					Treatment line drug era start is:
					<date-range params="Range: TreatmentLineDrugEraStartDate"></date-range>
				</td>
			</tr>
			<tr data-bind="if: TreatmentLineDrugEraEndDate() != null, visible: TreatmentLineDrugEraEndDate() != null">
				<td><i data-bind="click: function() { $component.removeCriterion('TreatmentLineDrugEraEndDate') }" class="fa fa-times" /></td>
				<td>
					Treatment line drug era end is:
					<date-range params="Range: TreatmentLineDrugEraEndDate"></date-range>
				</td>
			</tr>
			<tr data-bind="if: TreatmentLineNumber() != null, visible: TreatmentLineNumber() != null">
				<td><i data-bind="click: function() { $component.removeCriterion('TreatmentLineNumber') }" class="fa fa-times" /></td>
				<td>
					with a treatment line number
					<numeric-range params="Range: TreatmentLineNumber"></numeric-range>
				</td>
			</tr>
			<tr data-bind="if: TotalCycleNumber() != null, visible: TotalCycleNumber() != null">
				<td><i data-bind="click: function() { $component.removeCriterion('TotalCycleNumber') }" class="fa fa-times" /></td>
				<td>
					with a total number of cycles
					<numeric-range params="Range: TotalCycleNumber"></numeric-range>
				</td>
			</tr>
			<tr data-bind="if: DrugExposureCount() != null, visible: DrugExposureCount() != null">
				<td><i data-bind="click: function() { $component.removeCriterion('DrugExposureCount') }" class="fa fa-times" /></td>
				<td>
					with a total number of Drug Exposures
					<numeric-range params="Range: DrugExposureCount"></numeric-range>
				</td>
			</tr>
			<tr data-bind="if: TreatmentLineType() != null, visible: TreatmentLineType() != null">
				<td><i data-bind="click: function() { $component.removeCriterion('TreatmentLineType') }" class="fa fa-times" /></td>
				<td>
					with a Treatment Type
					<concept-list params="PickerParams: { DefaultDomain: 'Treatment Line', DefaultQuery: ''}, ConceptList: TreatmentLineType()"></concept-list>
				</td>
			</tr>
			<tr data-bind="if: Age() != null, visible: Age() != null">
				<td><i data-bind="click: function() { $component.removeCriterion('Age') }" class="fa fa-times" /></td>
				<td>
					with age
					<numeric-range params="Range: Age"></numeric-range>
				</td>
			</tr>
			<tr data-bind="if: Gender() != null, visible: Gender() != null">
				<td><i data-bind="click: function() { $component.removeCriterion('Gender') }" class="fa fa-times" /></td>
				<td>
					<div>
						with a gender of:
						<concept-list params="PickerParams: { DefaultDomain: 'Gender', DefaultQuery: ''}, ConceptList: Gender()"></concept-list>
					</div>
				</td>
			</tr>
			<tr data-bind="if: CorrelatedCriteria() != null, visible: CorrelatedCriteria() != null">
				<td><i data-bind="click: function() { $component.removeCriterion('CorrelatedCriteria') }" class="fa fa-times" /></td>
				<td style="background-color: white">
					<criteria-group params="{expression: $component.expression, group: CorrelatedCriteria}"></criteria-group>
				</td>
			</tr>
		</table>
	</div>
</div>
