<div style="position:relative" class="btn-group btn-group-sm thumb-dropdown"
     data-bind="if: $component.multiSelect, css: {dropup: $component.dropup}">

    <div class="btn btn-sm btn-warning" data-bind="visible:$component.exporting()"><i class="fa fa-spinner fa-spin"></i>
    </div>

    <a role="button" class="btn btn-sm btn-primary"
       data-bind="visible:!$component.exporting(), click: $component.exportToFile, css: {disabled: $component.disabled}" target="_blank"
       style="max-width:200px; overflow-x: hidden; text-overflow:ellipsis; white-space:nowrap">Export To File</a>
    <!-- ko if: $component.multiSelect && !$component.exporting()-->
    <a role="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" data-bind="css: {disabled: $component.disabled}">
        <span class="caret"></span>  <!-- caret -->
        <span class="sr-only">Export To File</span>
    </a>
    <ul class="dropdown-menu" style="height: auto; max-height:200px; width:200px; overflow-x: hidden; padding:4px"
        role="menu">
        <li style="cursor:pointer" data-bind="click:$component.exportToCloud">Export To Cloud</li>
    </ul>
    <!-- /ko -->
</div>