<div style="
    width: 25%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;">

    <form data-bind="submit: submit">

        <!-- ko if: $component.submitted && $component.invalidSubmit -->
        <div class="alert alert-danger">
            <strong>Error:</strong> <span data-bind="text: $component.error()"></span> .
        </div>
        <!-- /ko -->

        <!-- ko if: $component.submitted && $component.validSubmit -->
        <div class="alert alert-success">
            <strong>Success:</strong><span> You succesfully updated the service user</span> .
        </div>
        <!-- /ko -->

        <div class="form-group">
            <label for="hss-service-user-username">Username</label>
            <input id="hss-service-user-username" class="form-control" data-bind="textInput: userName"/></p>

            <small data-bind="if: $component.usernameInvalid" class="text-danger">
                Invalid username
            </small>
        </div>

        <div class="form-group">
            <label for="hss-service-user-password">Password</label>
            <input id="hss-service-user-password" class="form-control" type="password"
                   data-bind="textInput: userPassword"/>

            <small data-bind="if: $component.passwordInvalid" class="text-danger">
                Invalid password
            </small>
        </div>

        <div class="form-group">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>