<span class="btn btn-sm btn-primary" data-bind="click:$component.show, text: $component.name, css: {disabled: $component.disable}"></span>

<atlas-modal params="{
  showModal: showImportLightBox,
	template: 'import-button-template',
	title: (type === 'definition' ? 'Select Cohort Definition' : 'Select Cohort Results'),
  data: $component,
  backdropClosable: true
}"></atlas-modal>

<script type='template' id='import-button-template'>
    <div class="paddedWrapper" data-bind="css: { 'dragged-over': draggedOver},
                                              event: {
                                                drop: drop,
                                                dragover: function(data, e){ dragOver(e);},
                                                dragenter: function(data, e){toggleInDropZone(e);},
                                                dragleave: function(data, e){toggleInDropZone(e);}}">

        <!-- ko if: !loadingDefinitionsToImport() -->
        <ul class="nav nav-tabs">
            <li role="presentation" data-bind="click: function() {currentTab('listTab');}, attr: {class: currentTab() == 'listTab' ? 'active' : ''}"><a>List</a></li>
            <li role="presentation" data-bind="click: function() {currentTab('fileTab');}, attr: {class: currentTab() == 'fileTab' ? 'active' : ''}"><a>File</a></li>
        </ul>

        
        <!-- ko if: currentTab() == 'listTab' -->
        <!-- ko ifnot: error() === "" -->
        <h3 style="color: red">Something went wrong while connecting to the storage server.</h3>
        <h4 data-bind="text: error()"></h4>
        <!-- /ko -->
        <!-- ko if: error() === "" -->
        <!-- ko if: breadCrumbNames().length>0 -->
        <div class="alert alert-success">
            <div>
                You are now looking at previous versions of:
            </div>
            <div>
                &emsp;<strong><span data-bind="text: breadCrumbNames().join(' > ')"></span></strong>
            </div>
        </div>
        <!-- /ko -->

        <table width="100%" class="stripe compact hover" cellspacing="0" data-bind="dataTable:{
                        data: cohortDefinitions,
                        options: {
                                    dom: 'lfiprt',
                                    language: {
                                        search : 'Filter:'
                                    },
                                    lengthMenu: [[5, 10, 20, -1], [5, 10, 20,'All']],
                                    orderClasses: false,
                                    deferRender: true,
                                    autoWidth: false,
                                    ordering: true,
                                    columnDefs: [
                                            { targets: 0, width: '80px' },
                                            { targets: 1 },
                                            { targets: 2, width: '100px' },
                                    ],
                                    columns: [
                                            { title: 'Selected', class:'text-center', render: function() { return renderCheckbox('selected', true); } },
                                            { title: (type === 'definition' ? 'Cohort Definition' : 'Cohort Results'),  render: renderCohortDefinitionLink },
                                            { title: 'Version', data: 'version', render: renderVersion }
                                    ]
                            },
                        onRowClick: rowClick,
                    }, css: {'hidden': importing()}"></table>
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: currentTab() == 'fileTab' -->
        <div class="drop-zone" data-bind="css: {'hidden': !draggedOver()}" style="position: fixed; width: 100%; height: 100%; text-align: center; top: 0; left: 0; background: #000; opacity: 0.5">
            <i class="fa fa-file fa-5x fa-inverse" aria-hidden="true" style="position: absolute; top: calc(50% - 25px)"></i>
        </div>
        <input class="btn btn-sm btn-primary" type="file" id="cohortInput" data-bind="css: {'hidden': importing()}">
        <!-- /ko -->

        <!-- ko if:breadCrumb().length > 0 -->
        <button class="btn btn-sm btn-primary" data-bind="click: back, css: {'hidden': importing()}">Back</button>
        <!-- /ko -->
        <button class="btn btn-sm btn-primary" data-bind="click: submitFile, css: {'hidden': importing()}, enable: (error() === '' || currentTab() === 'fileTab')">Submit</button>
        <!-- /ko -->

        <!-- ko if: (importing() || loadingDefinitionsToImport()) -->
        <i class="fa fa-spinner fa-5x fa-pulse"></i>
        <!-- /ko -->
    </div>
</script>